.forgot-password-btn {
  background: #74ebd5;
  color: white;
  border: none;
  padding: 10px 25px;
  margin-top: 10px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

.forgot-password-btn:hover {
  background: #4ac4b8;
}
